/*------------------------------------------------------------------
[Table of contents]

 - global styles
 - Loader
 - header
 - first screen
 - content styles



- Project:	Chris - Multipurpose HTML Template
- Version:	1.0
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/
a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none; }

ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

button:active,
button:focus {
  outline: none !important;
  text-decoration: none; }

body {
  background: #fff;
  overflow-x: hidden; }

:focus {
  outline: none !important; }

/* Loader */
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #222222;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important; }

#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  -webkit-border-radius: 50%;
  border-radius: 50%; }

#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent; }

#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #ccc; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Loader */
/* Header */
.header {
  padding: 57px 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  color: #fff;
  -webkit-transition: padding-top 0.3s ease, padding-bottom 0.3s ease, background 0.3s ease;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease, background 0.3s ease; }

.header.active {
  padding: 27px 0 28px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }

.header.active .logo {
  padding-left: 50px; }

.header.active .header-avatar {
  opacity: 1;
  visibility: visible; }

.logo {
  position: relative;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
  display: inline-block; }

.logo .point {
  display: inline-block; }

.header-avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.header-avatar img {
  width: 100%;
  height: 100%; }

.point:after {
  content: '.'; }

.header-links {
  display: inline-block;
  vertical-align: middle; }

.header-links ul {
  padding-left: 0; }

.header-links ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 26px; }

.header-links ul li a {
  display: inline-block; }

.header-links ul li a:hover {
  text-decoration: underline; }

.change-lng li.active a {
  text-decoration: underline; }

.mobile-btn {
  text-align: right;
  font-size: 20px;
  line-height: 22px;
  margin-top: 2px; }

.main-avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top; }

.main-avatar img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.mob-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  padding: 0 20px; }

.mob-menu-wrapper.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.mob-menu-wrapper .mobile-menu ul, .mob-menu-wrapper .change-lng ul {
  padding: 0;
  margin: 0;
  min-height: 100%; }

.mob-menu-wrapper .mobile-menu ul li, .mob-menu-wrapper .change-lng ul li {
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  display: list-item; }

.mob-menu-wrapper .mobile-menu ul li a, .mob-menu-wrapper .change-lng ul li a {
  display: inline-block; }

.mob-menu-wrapper .change-lng li:last-child {
  margin-bottom: 0; }

.mobile-box-wrap {
  height: 100%;
  overflow: auto;
  padding: 30px 0; }

.mobile-box-flex {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.close-mob-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  text-align: center;
  line-height: 20px;
  font-size: 20px; }

/* Header */
/* First screen */
.first-screen {
  height: 100vh;
  position: relative;
  min-height: 420px; }

.first-screen .full-height {
  height: 100%;
  position: relative;
  z-index: 2; }

.main-bg {
  background: url("../media/first-screen/main-bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.main-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.first-screen-box {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 60px;
  color: #fff; }

.opacity-box {
  opacity: 0.8; }

.about-me {
  margin-bottom: 30px; }

.yellow-btn {
  padding: 14px 15px 14px 45px;
  display: inline-block;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  max-width: 170px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.yellow-btn .mdi {
  position: absolute;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 0; }

.transparent-btn {
  padding: 14px 15px 14px 45px;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  max-width: 170px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transparent-btn .mdi {
  position: absolute;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 0; }

.white-btn {
  padding: 14px 15px 14px 45px;
  display: inline-block;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  max-width: 170px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.white-btn .mdi {
  position: absolute;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 0; }

.first-screen-buttons .yellow-btn {
  margin-right: 30px; }

/* First screen */
/* Main content */
.main-content {
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.title {
  margin-bottom: 30px; }

.tabs-buttons ul {
  padding: 0; }

.tabs-buttons ul li {
  list-style: none; }

.tabs-buttons ul li + li {
  margin-top: 30px; }

.tabs-buttons ul li a {
  display: block;
  width: 100%;
  position: relative;
  background: url("../images/btn-1.png") no-repeat center;
  background-size: 100% 100%;
  -webkit-transition: none;
  transition: none; }

.tabs-buttons ul li a > span {
  position: relative;
  z-index: 3;
  display: block;
  width: 91%;
  padding: 14px 15px 14px 45px; }

.tabs-buttons ul li a:after {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg);
  top: 8px;
  right: 8px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 4; }

.tabs-buttons ul li a .mdi, .tabs-buttons ul li a .icofont {
  position: absolute;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 0;
  font-size: 14px; }

@media screen and (min-width: 992px) {
  .tabs-buttons ul li a:hover {
    background: url("../images/btn-2.png") no-repeat center;
    background-size: 100% 100%; } }

.tabs-buttons ul li.active a {
  background: url("../images/btn-2.png") no-repeat center;
  background-size: 100% 100%; }

.tab-pane#soundcloud iframe {
  width: 100%;
  height: 870px;
  border: none; }

.tab-pane#vimeo iframe {
  border: none; }

.video-box {
  padding: 28.74%;
  position: relative; }

.video-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none; }

#player_div {
  height: 477px; }

#player_div iframe {
  width: 100% !important;
  height: 100%; }

#player_div iframe .player_divinterface, #player_div iframe .playlist {
  width: 100% !important; }

.owl-carousel {
  margin-top: 5px; }

.slider-item {
  width: 270px;
  height: 150px;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer; }

.slider-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }

.slider-item:hover:after {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; }

.slider-item iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.owl-carousel .owl-video-tn {
  background-size: cover; }

.owl-carousel .owl-video-play-icon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }

/* Main content */
/* Contact section */
.contacts-section {
  padding: 60px 0; }

.contact-text {
  margin-bottom: 30px; }

.about-me-info {
  margin-bottom: 30px; }

.about-me-info .span-title {
  width: 70px;
  float: left;
  display: block; }

.about-me-info .span-title + span {
  display: block;
  padding-left: 85px; }

.about-me-info .span-title + span:after {
  content: '';
  clear: both;
  display: block; }

.about-me-info .info-row {
  margin-bottom: 10px; }

.about-me-info .info-row:last-child {
  margin-bottom: 0; }

.about-me-info .info-row .mdi {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-right: 20px;
  float: left; }

.about-me-info .info-row .mdi:last-child {
  margin-right: 0; }

.form-wrapper .form-group {
  margin-bottom: 30px;
  position: relative; }

.form-wrapper .form-group .help-block, .form-wrapper .form-group .help-block-success {
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0; }

.form-wrapper .form-group .help-block-success {
  display: none; }

.form-wrapper .form-group .help-block li {
  list-style: none; }

.form-wrapper .form-group label {
  margin-bottom: 15px; }

.form-wrapper .form-group.success .help-block {
  display: none; }

.form-wrapper .form-group.success .help-block-success {
  display: block; }

.site-input {
  height: 50px;
  padding: 0 15px;
  width: 100%;
  display: block;
  -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

textarea.site-input {
  padding: 15px;
  height: 165px;
  resize: none; }

.form-wrapper .submit-holder {
  text-align: right; }

/* Contact section */
/* Modal */
.modal-body {
  padding: 40px; }

.modal-body .form-wrapper .site-input {
  border: 1px solid #e3e3e3; }

.modal-img {
  margin-bottom: 30px; }

.modal-img img {
  width: 100%; }

.resume-box {
  margin-bottom: 30px; }

.resume-info {
  margin-bottom: 30px; }

.resume-info-title {
  margin-bottom: 2px; }

.resume-title, .resume-info-desc {
  margin-bottom: 15px; }

.modal-buttons {
  text-align: right; }

.modal-buttons:after {
  content: '';
  clear: both;
  display: block; }

.modal-buttons .yellow-btn, .modal-buttons .white-btn {
  float: right;
  margin-left: 30px; }

.modal-content {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }

.modal-dialog {
  width: 100%;
  max-width: 650px;
  margin: 60px auto; }

/* Modal */
/* Footer */
.footer {
  background: #212121;
  padding: 15px 0; }

.copyright {
  opacity: 0.8; }

/* Footer */

/*# sourceMappingURL=maps/theme.css.map */
