$accent-color: #ffc107;
$active-bg: #cc9a06;
$text-color: #252525;

body {
  color: #fff;
  background: $text-color;
}

#page-preloader .spinner:before {
  border-top-color: $accent-color;
}

.point:after {
  color: $accent-color;
}

.change-lng {
  li.active {
    a {
      color: $accent-color;
    }
  }
}

.header-links ul li a {

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $active-bg;
  }
}

.header.active {
  color: $text-color;
}

.yellow-btn {
  background: $accent-color;
  color: $text-color;
  border-color: $accent-color;

  &:focus {
    color: $text-color;
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba($accent-color, 0.2);
    color: $text-color;
  }

  &:active {
    background: $active-bg;
    color: $text-color;
  }
}

.transparent-btn {
  color: #fff;

  &:focus {
    color: #fff;
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(#fff, 0.2);
    background: #fff;
    color: $text-color;
  }

  &:active {
    background: #ccc;
    color: $text-color;
    border-color: #ccc;
  }
}

.white-btn {
  background: #fff;
  color: $text-color;
  border-color: $text-color;

  &:focus {
    color: $text-color;
    border-color: $text-color;
    background: #fff;
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba($text-color, 0.2);
    color: #fff;
    background: $text-color;
  }

  &:active {
    background: #1e1e1e;
    color: #fff;
  }
}

.main-bg {
  &:after {
    background: -moz-linear-gradient(top, rgba(#fff,0) 0%, rgba($text-color,1) 100%);
    background: -webkit-linear-gradient(top, rgba(#fff,0) 0%,rgba($text-color,1) 100%);
    background: linear-gradient(to bottom, rgba(#fff,0) 0%,rgba($text-color,1) 100%);
  }
}

.tabs-buttons {
  ul {
    li {
      &.active {
        a {
          color: $text-color;
        }
      }

      @media screen and(min-width:992px) {
        a {

          &:hover {
            color: $text-color;

            > span {
              box-shadow: 0 10px 20px 0 rgba($accent-color, 0.2);
            }


            &:after {
              box-shadow: 7px 0 20px 0 rgba($accent-color, 0.2);
            }
          }
        }
      }
    }
  }
}

.about-me-info {

  .info-row {

    .mdi {

      &:hover {
        color: $accent-color;
      }

      &:active {
        color: $active-bg;
      }
    }
  }
}

.form-wrapper {

  .form-group {

    .help-block {
      color: $text-color;
    }

    @at-root
    .site-input {
      color: $text-color;

      &:hover, &:focus {
        border-color: $accent-color!important;
        box-shadow: 0 10px 20px 0 rgba($accent-color, 0.2);
      }
    }

    &.warning, &.error {

      .help-block {
        color: #f77482;
      }

      .site-input {
        border-color: #f77482;
      }
    }

    &.success {

      .help-block-success {
        color: #49bb7b;
      }
      .site-input {
        border-color: #49bb7b;
      }
    }
  }

}

.modal {
  color: $text-color;
}

.mob-menu-wrapper {
  background: $accent-color;
  color: $text-color;

  .change-lng li.active a {
    color: $text-color;
  }
}

.close-mob-menu {
  color: $text-color;
}